/* Clases reutilizables */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #D3D0CB;
}

footer {
  background-color: #7A6563;
}

/* Clases específicas */
.container {
    margin-top:10%;
    border:2px solid rgb(15, 15, 92);
    border-radius: 15px;
    padding: 1em;
}

figure {
  width: 25%;
}
