/* Clases reutilizables */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

.navbar {
  background-color: #EF6957!important;
}

footer {
  background-color: #A5A8A8;
}

figure {
  width: 80%;
  margin: 1em;
  display: inline-block;
}

img {
  width: 100%;
  box-shadow: 7px 6px 32px -10px rgba(0,0,0,0.62);
}

figcaption {
  color: B3B3B3!important;
}

/* Clases específicas */
.picture-container {
  border:2px solid #EF6957;
  border-radius: 15px;
  box-shadow: 6px 6px 23px 0px rgba(239,105,87,0.21);
  padding-right: 0;
  padding-left: 0;
}

.img-bckgrnd-color {
  background-color: #D09591;
  border-radius: .25rem;
}

.main-title {
  color: #3C1518;
}

.info {
  color: #3C3E3E;
}

.btn-style {
  background-color: #3C1518;
  /* 5F3F42; */
  color: #FAFAFA;
}

@media (min-width: 576px) {
  figure {
    width: 35%;
  }
}
