/* Clases reutilizables */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

.navbar {
  background-color: #EF6957!important;
}

footer {
  background-color: #A5A8A8;
}

figure {
  width: 30%;
  margin: 1em;
  display: inline-block;
}

img {
  width: 100%;
  box-shadow: 7px 6px 32px -10px rgba(0,0,0,0.62);
}

/* Clases específicas */
.picture-container {
  border:2px solid #EF6957;
  border-radius: 15px;
  box-shadow: 6px 6px 23px 0px rgba(239,105,87,0.21)
}
