/* Clases reutilizables */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #FAFAFA;
}

.navbar {
  background-color: #EF6957!important;
}

footer {
  /* background-color: #A5A8A8; */
  background-color: #B2AA8E;
}

figure {
  width: 80%;
  margin:0.5em 1em 3em 2em;
  display: inline-block;
  border-radius: 15px;
}

img {
  width:100%;
  box-shadow: 7px 6px 32px -10px rgba(0,0,0,0.62);
  border-radius: 25px;
}

/* Clases específicas */
.picture-container {
  border:2px solid #EF6957;
  border-radius: 15px;
  box-shadow: 6px 6px 23px 0px rgba(239,105,87,0.21);
  padding-right: 0;
  padding-left: 0;
}

.img-bckgrnd-color {
  background-color: #D09591;
  border-radius: .25rem;
}

.main-title {
  color: #3C1518;
  font-size: 40px;
  letter-spacing: 3px;
}

.info {
  color: #3C3E3E;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

.code-box {
background-color: #DEE1DF;
/* background-color: #F4F7F5; */
}

.btn-style {
  background-color: #3C1518;
  /* background-color: #5F3F42; */
  color: #FAFAFA;
}

.btn-style:hover{
  color: #FAFAFA;
  background-color: #715457;
  /* 715457; 826A6C*/

  border-color: #545b62;
  font-weight: bold;
}

.textFooter{
  color:  #3C3E3E;
}

@media (min-width: 576px) {
  figure {
    width: 75%;
    margin:2em 1em 3em 2em;
  }
}

@media (min-width: 992px) {
  figure {
    width: 35%;
    margin:2em 1em 3em 2em;
  }
  figure:nth-child(odd){
    margin-left: 3em;
  }
}
